---
layout: landing
---
<section>
    <div class="container">
        <div class="top2 row">
            {% for post in site.categories.miserie offset: 1 limit: 2 %}
                <div class="col-xs-12 col-sm-6">
                    <a href="{{ post.url }}" class="post-link" alt="{{post.title}}">
                        <div class="row post-abstract bg-dark-gray color-invert no-padding">
                            <div class="col-xs-12 col-sm-6 col-md-7 post-abstract-img no-padding pull-right">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/th/{{post.pid}}.jpg" alt="{{post.title}}" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 post-abstract-body">
                                    <h2>{{post.title}}</h2>    
                                    <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="bg-info">
    <div class="container bg-white50">
        <div class="top6 row">
            <div class="col-md-2">
                <div class="post-section">
                    <h3>Dati e grafici</h3>
                    <p class="hidden-xs"><em>Le leggende del calcio e i suoi interpreti visualizzati graficamente</em></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 border-bottom">
                <div class="post-abstract">
                    <a href="#" class="post-link" alt="Messico nuvole e quelle scarpe bianche">
                        <div class="row">
                            <div class="col-xs-7 col-sm-12">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/chart1.png" alt="grafico1" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-12">
                                <h2>Grafico 1</h2>
                                <p class="hidden-xs">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                <p class="hidden-sm hidden-md hidden-lg">Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 border-bottom">
                <div class="post-abstract">
                    <a href="#" class="post-link" alt="Messico nuvole e quelle scarpe bianche">
                        <div class="row">
                            <div class="col-xs-7 col-sm-12">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/chart1.png" alt="grafico1" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-12">
                                <h2>Grafico 1</h2>
                                <p class="hidden-xs">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                <p class="hidden-sm hidden-md hidden-lg">Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 border-bottom">
                <div class="post-abstract">
                    <a href="#" class="post-link" alt="Messico nuvole e quelle scarpe bianche">
                        <div class="row">
                            <div class="col-xs-7 col-sm-12">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/chart1.png" alt="grafico1" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-12">
                                <h2>Grafico 1</h2>
                                <p class="hidden-xs">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                <p class="hidden-sm hidden-md hidden-lg">Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
                                
        </div>
    </div>
</section>

<section>
    <div class="container border-bottom">
        <div class="top6 miserie row">
            <div class="col-xs-12 col-md-2">
                <div class="post-section">
                    <h3>Miserie e Splendori</h3>
                    <p class="hidden-xs"><em>Il calcio raccontato dalle mitologiche imprese dei suoi interpreti</em></p>
                </div>
            </div>
            {% for post in site.categories.miserie offset: 0 limit: 3 %} 
            <div class="col-sm-4 col-md-3 border-bottom">
                <div class="post-abstract bg-light-gray">
                    <a href="{{site.baseurl}}/{{ post.url }}" class="post-link" title="{{post.title}}">
                        <div class="row">
                            <div class="col-xs-5 col-sm-12">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/th/{{post.pid}}_med.jpg" alt="{{post.title}}" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-7 col-sm-12">
                                <h2>{{post.title}}</h2>
                                <p class="hidden-xs">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="top6 miserie row">
            {% for post in site.categories.miserie offset: 0 limit: 3 %} 
            <div class="{% if forloop.index == 1 %}col-md-offset-2{% endif %} col-sm-4 col-md-3 border-bottom">
                <div class="post-abstract bg-light-gray">
                    <a href="{{site.baseurl}}/{{ post.url }}" class="post-link" title="{{post.title}}">
                        <div class="row">
                            <div class="col-xs-5 col-sm-12">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/th/{{post.pid}}.jpg" alt="{{post.title}}" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-7 col-sm-12">
                                <h2>{{post.title}}</h2>
                                <p class="hidden-xs">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container border-bottom">
        <div class="top6 stickers row">
            <div class="col-md-2">
                <div class="post-section">
                    <h3>Figurine parlanti</h3>
                    <p class="hidden-xs"><em>Perch&egrave; un figurina non &egrave; solo una cosa da bambini</em></p>
                </div>
            </div>
            {% for post in site.categories.figurine %}
            <div class="col-sm-3 col-md-2 border-bottom">
                <div class="post-abstract bg-light-gray">
                    <a href="{{site.baseurl}}/{{ post.url }}" class="post-link" title="{{post.title}}">
                        <div class="row sticker">
                            <div class="col-xs-5 col-sm-12">
                                <div class="post-abstract-img">
                                    <img class="responsive-img" src="{{site.baseurl}}/assets/pics/stickers/{{post.pid}}.jpg" alt="{{post.title}}" width="100%">
                                </div>
                            </div>
                            <div class="col-xs-7 col-sm-12">
                                <h3>{{post.title}}</h3>
                                <p class="hidden-sm hidden-md hidden-lg">{{post.life}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="small-posts">
    <div class="container bg-white50">
        <div class="top6 row">
            <div class="col-md-2">
                <div class="post-section">
                    <h3>Non tutti sanno che</h3>
                    <p class="hidden-xs"><em>Fatti, curiosit&agrave; e racconti brevi dal mondo del calcio</em></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="post-abstract">
                    <ul class="list-unstyled">
                        {% for post in site.categories.nontuttisannoche %}
                        <li>
                            <a href="{{site.baseurl}}/{{ post.url }}" class="post-link" title="{{post.title}}">
                                <h4>{{post.title}}</h4>
                                <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
                            </a>
                        </li>
                        {% endfor %}                        
                    </ul>
                </div>
            </div>                                        
        </div>
    </div>
</section>
<section class="bg-info">
    <div class="container bg-white50">
        <div class="top6 row">
            <div class="col-md-2">
                <div class="post-section">
                    <h3>Altri articoli</h3>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 border-right">
                <div class="post-abstract">
                    <h2>Articolo 1</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 border-right">
                <div class="post-abstract">
                    <h2>Articolo 2</h2>
                    <p>Honec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 border-right">
                <div class="post-abstract">
                    <h2>Articolo 3</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
            </div>
                                
        </div>
    </div>
</section>