---
layout: category
category: miserie
title: Miserie e Splendori del Gioco del Calcio
description: Il calcio raccontato dalle mitologiche imprese dei suoi interpreti
permalink: /miserie-e-splendori/
---
<section>
    <div class="top6 row flex-container">
        {% for post in site.categories.miserie offset: 0 %}
            <div class="post col-ms-12 col-sm-6 col-md-4 border-bottom">
                <div class="post-abstract bg-lighter-gray">
                    <a href="{{site.baseurl}}{{ post.url }}" class="post-link" title="{{post.title}}">
                        <div class="row">
                            <div class="col-xs-5 col-ms-6 col-sm-12">
                                <div class="post-abstract-img">
                                    {% if post.header == 'video' %}
                                      <img class="responsive-img" src="{{site.baseurl}}/assets/pics/th/{{post.pid}}_med.gif" alt="{{post.title}}" width="100%">
                                    {% else %}
                                      <img class="responsive-img" src="{{site.baseurl}}/assets/pics/th/{{post.pid}}_med.jpg" alt="{{post.title}}" width="100%">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-7 col-ms-6 col-sm-12">
                                <p class="hidden-sm hidden-md hidden-lg"><b>{{post.player_short}}</b></p>
                                <h2>{{post.postTitle}}</h2>
                                <p class="hidden-xs visible-ms {{post.story_type}}">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
