<script>
    (function() {
      var header = document.querySelector("#header"),
          fixed=false;

      window.addEventListener("scroll", function(e) {
          var scroll=window.pageYOffset || document.documentElement.scrollTop;

          if (scroll > 300) {
              header.classList.add("smaller");
          } else {
            header.classList.remove("smaller");
          }

      });

      var menuNodes = document.querySelectorAll(".navbar-collapse")
      document.querySelector("button.navbar-toggle").addEventListener("click",function(e) {
        if(menuNodes[0].classList.contains('in')) {
            menuNodes.forEach(function(node) {
              node.classList.remove('in');
            })
        } else {
          menuNodes.forEach(function(node) {
            node.classList.add('in');
          })
        }

      })

    }())
</script>
