<script>
    (function() {
      var header = document.querySelector("#header"),
          fixed=false;

      window.addEventListener("scroll", function(e) {
          var scroll=window.pageYOffset || document.documentElement.scrollTop;

          if (scroll > 300) {
              header.classList.add("smaller");
          } else {
            header.classList.remove("smaller");
          }

      });

      var menuNodes = document.querySelectorAll(".navbar-collapse")
      document.querySelector("button.navbar-toggle").addEventListener("click",function(e) {
        if(menuNodes[0].classList.contains('in')) {
            menuNodes.forEach(function(node) {
              node.classList.remove('in');
            })
        } else {
          menuNodes.forEach(function(node) {
            node.classList.add('in');
          })
        }

      })
      var hideShowTimeline = document.querySelector('.timeline-show-btn');
      hideShowTimeline.addEventListener('click', function(d) {
          var timeline = document.querySelector('.timeline');
          if(timeline.classList.contains('hidden-xs')) {
            timeline.classList.remove('hidden-xs')
            hideShowTimeline.classList.add('hide-timeline');
          } else {
            timeline.classList.add('hidden-xs')
            hideShowTimeline.classList.remove('hide-timeline');
          }
      })

    }())
</script>
