<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="hidden-sm col-md-3 col-md-offset-1">
                    <h4>Futbolismo</h4>
                    <p>
                        Un sito nato dalla passione per il calcio raccontato attraverso
                        storie, fatti e grafici. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus
                    </p>
                </div>
                <div class="col-sm-4 col-md-2 col-md-offset-1">
                    <h4>Argomenti</h4>
                    <ul class="">
                        <li><a href="#">Splendori e Miserie</a></li>
                        <li><a href="#">Dati e Grafici</a></li>
                        <li><a href="#">Figurine parlanti</a></li>
                        <li><a href="#">Non tutti sanno che</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-2">
                    <h4>Futbolismo</h4>
                    <ul class="">
                        <li><a href="#">Il progetto</a></li>
                        <li><a href="#">Chi siamo</a></li>
                        <li><a href="#">Contatti</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h4>Ultimi articoli</h4>
                    <ul class="">
                        {% for post in site.posts offset: 0 limit: 4 %}
                            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr/>
            <div class="logo-footer text-center">
                <h4>Futbolismo</h4>
                <p>Storie e Grafici del Calcio<br/></p>
            </div>
            <div class="social text-center">
                <a class="twitter_link" href="https://twitter.com/ftblsm" target="_blank" title="Futbolismo su Twitter"><i class="icon-twitter"></i></a>
                <a href="#" target="_blank" title="Share on Google+"><i class="icon-gplus" title="Share on Google+"></i></a>
                <a href="https://www.facebook.com/ftblsm" target="_blank" title="Futbolismo su Facebook"><i class="icon-facebook" title="Share on Facebook"></i></a>
            </div>
        </div>
    </div>
</footer>