<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="hidden-sm hidden-ms col-md-3 col-md-offset-1">
                    <h4>F&uacute;tbolismo</h4>
                    <p>
                        Un sito nato dalla passione per il calcio raccontato attraverso
                        storie, fatti e grafici. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus
                    </p>
                </div>
                <div class="col-ms-3 col-sm-4 col-md-2 col-md-offset-1">
                    <h4>Argomenti</h4>
                    <ul class="">
                        <li><a href="{{site.baseurl}}/miserie-e-splendori/">Splendori e Miserie</a></li>
                        <li><a href="#">Dati e Grafici</a></li>
                        <li><a href="{{site.baseurl}}/figurine-parlanti/">Figurine parlanti</a></li>
                        <li><a href="{{site.baseurl}}/non-tutti-sanno-che/">Non tutti sanno che</a></li>
                    </ul>
                </div>
                <div class="col-ms-3 col-sm-4 col-md-2">
                    <h4>F&uacute;tbolismo</h4>
                    <ul class="">
                        <li><a href="{{site.baseurl}}/il-progetto/">Il progetto</a></li>
                        <li><a href="#">Chi siamo</a></li>
                        <li><a href="#">Contatti</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-ms-6 col-sm-4 col-md-3">
                    <h4>Ultimi articoli</h4>
                    <ul class="">
                        {% for post in site.posts offset: 0 limit: 4 %}
                            <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr/>
            <div class="logo-footer text-center">
                <h4>F&uacute;tbolismo</h4>
                <p>Storie e Grafici del Calcio<br/></p>
            </div>
            {% capture title %}{{ site.title }} - {{ site.description }}{% endcapture %}
            <div class="social text-center">
                <a class="twitter_link" href="https://twitter.com/intent/tweet?text={{title}}&url={{site.url}}&via=ftblsm&hashtags=calcio,football" title="Condividi via Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Condividi via Google+"><i class="icon-gplus" title="Share on Google+"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?t={{title}}&u={{site.url}}" target="_blank" title="Condividi su Facebook"><i class="icon-facebook" title="Share on Facebook"></i></a>
            </div>
        </div>
    </div>
</footer>