<section>
    <div class="container border-bottom">
        <div class="dataviz top6 row">
            <div class="col-xs-12">
                  <img class="responsive-img" src="{{site.baseurl}}/assets/pics/transfers/header.jpg" alt="grafico1" width="100%">
                  <div class="col-ms-4 col-sm-5 col-md-4 col-xs-12 main-abstract transparent white-text left5">
                      <a href="/leggende-bandiere-e-giramondo" class="post-link" alt="La Maledizione Del Bracciale Di Giada">
                          <h5>Il pallone in un grafico</h5>
                          <h1>Leggende, bandiere e giramondo</h1>
                          <p class="abstract left quote">La storia del calcio raccontata attraverso le carriere dei suoi interpreti dal 1920 ad oggi.</p>
                          <div class="read-more">Apri <span class="glyphicon glyphicon-chevron-right"></span></div>
                      </a>
                  </div>
              </div>
        </div>
    </div>
</section>
