<section class="bg-info">
    <div class="container bg-white50">
        <div class="dataviz top6 row">
            <div class="col-md-2">
                <div class="post-section">
                    <h3>Dati e grafici</h3>
                    <p class="hidden-xs"><em>Le leggende del calcio e i suoi interpreti visualizzati graficamente</em></p>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-ms-4 col-sm-4 border-bottom">
                        <div class="post-abstract">
                            <a href="#" class="post-link" alt="Messico nuvole e quelle scarpe bianche">
                                <div class="row">
                                    <div class="col-xs-6 col-ms-12 col-sm-12">
                                        <div class="post-abstract-img">
                                            <img class="responsive-img" src="{{site.baseurl}}/assets/pics/chart1.png" alt="grafico1" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-ms-12 col-sm-12">
                                        <h2>Grafico 1</h2>
                                        <p class="hidden-xs">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                        <p class="hidden-sm hidden-md hidden-lg">Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-ms-4 col-sm-4 border-bottom">
                        <div class="post-abstract">
                            <a href="#" class="post-link" alt="Messico nuvole e quelle scarpe bianche">
                                <div class="row">
                                    <div class="col-xs-6 col-ms-12 col-sm-12">
                                        <div class="post-abstract-img">
                                            <img class="responsive-img" src="{{site.baseurl}}/assets/pics/chart1.png" alt="grafico1" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-ms-12 col-sm-12">
                                        <h2>Grafico 1</h2>
                                        <p class="hidden-xs">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                        <p class="hidden-sm hidden-md hidden-lg">Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-ms-4 col-sm-4 border-bottom">
                        <div class="post-abstract">
                            <a href="#" class="post-link" alt="Messico nuvole e quelle scarpe bianche">
                                <div class="row">
                                    <div class="col-xs-6 col-ms-12 col-sm-12">
                                        <div class="post-abstract-img">
                                            <img class="responsive-img" src="{{site.baseurl}}/assets/pics/chart1.png" alt="grafico1" width="100%">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-ms-12 col-sm-12">
                                        <h2>Grafico 1</h2>
                                        <p class="hidden-xs">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                        <p class="hidden-sm hidden-md hidden-lg">Donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
