<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	{% assign title = site.title %}
	
	{% if page.title != null %}
		{% capture title %}{{ page.title }} - {{title}}{% endcapture %}
		{% if page.player_short != null %}
			{% capture title %}{{ page.player_short }} - {{title}}{% endcapture %}
		{% endif %}
	{% endif %}
    <title>{{title}}</title>

	{% assign description = site.description %}
	{% if page.excerpt != null %}
		{% capture description %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | remove: '<br/>' | remove: '<br />' }}{% endcapture %}
	{% endif %}
	<meta name="description" content="{{description}}">

    {% include css.html %}
    
    <meta property="og:url" content="{{site.url}}{{ page.url }}"/>
	<meta property="og:description" content="{{description}}"/>
	
	{% if page.pid != null %}
		{% capture image %}{{site.url}}/assets/pics/header/{{ page.pid }}.jpg{% endcapture %}
		<meta property="og:image" content="{{image}}"/>
	{% endif %}
	<meta property="article:publisher" content="https://www.facebook.com/ftblsm"/>
	<meta property="og:type" content="article"/>
	<meta property="article:section" content="Sport"/>
	{% assign time = site.time %}
	{% if page.date != null %}
		{% assign time = page.date %}
	{% endif %}
	<meta property="article:published_time" content="{{ time | date_to_xmlschema }}"/>
	<meta property="og:title" content="{{title}}"/>
	<meta property="og:site_name" content="Futbolismo"/>
	<meta name="twitter:site" content="@ftblsm"/>
	<meta name="twitter:card" content="summary_large_image"/>
    
    {% if page.timeline %}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% endif %}
	
	
    <style>
    	{% if page.pid %}
    	.jumbotron {
			background: url({{site.baseurl}}/assets/pics/bg/{{ page.pid }}.jpg) repeat-x center center; 
		    background-size: auto 100%;
		}
		{% endif %}
		{% if page.pid %}
		.jumbotron .main-bg {
			background: url({{site.baseurl}}/assets/pics/header/{{ page.pid }}.jpg) no-repeat center center; 
		    background-size: auto 100%;
		}
		{% endif %}
    </style>
    

</head>