<nav class="collapse navbar-collapse" role="navigation">
    <ul id="mainMenu2" class="nav navbar-nav">
        <li class="home-link"><a href="{{site.baseurl}}/" title="Homepage"><span class="glyphicon glyphicon-home hidden-xs"></span><span class="hidden-sm hidden-md hidden-lg">Homepage</span></a></li>
        <li><a href="{{site.baseurl}}/miserie-e-splendori/">Miserie e Splendori</a></li>
        <li><a href="#">Dati e Grafici</a></li>
        <li class="last"><a href="{{site.baseurl}}/figurine-parlanti/">Figurine Parlanti</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{site.baseurl}}/il-progetto/">Il progetto</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{site.baseurl}}/chi-siamo/">Chi siamo</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{site.baseurl}}/contatti/">Contatti</a></li>
        <!--<li class="hidden-sm hidden-md hidden-lg"><a href="#">Help</a></li>-->
    </ul>
</nav>