<nav class="collapse navbar-collapse" role="navigation">
    <ul id="mainMenu2" class="nav navbar-nav">
        <li class="home-link"><a href="index.html"><span class="glyphicon glyphicon-home hidden-xs"></span><span class="hidden-sm hidden-md hidden-lg">Homepage</span></a></li>
        <li><a href="miserie.html">Miserie e Splendori</a></li>
        <li><a href="#">Dati e Grafici</a></li>
        <li class="last"><a href="#">Figurine Parlanti</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="#">Il progetto</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="#">Chi siamo</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="#">Contatti</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="#">Help</a></li>
    </ul>
</nav>