{% if post.sticker-img %}
  <img class="responsive-img" src="{{post.sticker-img}}" alt="{{post.title}}" width="100%" />
{% else %}
  {% capture stickerPNG %}{{site.baseurl}}/assets/pics/stickers/{{post.pid}}.png{% endcapture %}
  {% capture stickerJPG %}{{site.baseurl}}/assets/pics/stickers/{{post.pid}}.jpg{% endcapture %}

  {% if post.sticker_type == "double" %}
    {% capture stickerPNG %}{{site.baseurl}}/assets/pics/stickers/{{post.pid}}_90deg.png{% endcapture %}
    {% capture stickerJPG %}{{site.baseurl}}/assets/pics/stickers/{{post.pid}}_90deg.jpg{% endcapture %}
  {% endif %}
  {% assign sticker = nil %}
  {% assign sticker_files = site.static_files | where: "sticker", true %}
  {% for image in sticker_files %}
    {% if image.path contains stickerPNG and sticker == nil %}
      {% assign sticker = stickerPNG %}
    {% endif %}
  {% endfor %}

  {% if sticker == nil %}
    {% assign sticker = stickerJPG %}
  {% endif %}
  <img class="responsive-img" src="{{site.baseurl}}{{sticker}}" alt="{{post.title}}" width="100%" />
{% endif %}
