<script>
	new Timeline({
        container:"#timelineHowto div",
        height:240,
        howto: 'YEAR',
        data:[
		        {
		            type:"birth",
		            category:"event",
		            label: "BIRTH",
		            timestamps:[new Date(1978,1-1,1)],
		            text:{
		                body:"Player's birth",
		                link:null
		            }
		        },
		        {
		            type:"club",
		            category:"range",
		            timestamps:[1980,1986],
		            team:"PLAYER",
		            text:{
		                body:"Time spend as a player in a football club",
		                link:null
		            }
		        },
		        {
		            type:"worldcup",
		            category:"event",
		            timestamps:[new Date(1987,1-1,1),new Date(1987,1-1,1)],
		            team:"PERSONAL EVENT",
		            label:"PERSONAL EVENT",
		            text:{

		                body:"Personal event as a footballer (i.e. world cup, balon d'or and other awards)"
		            }
		        },
		        {
		            type:"history",
		            category:"event",
		            timestamps:[new Date(1989,3-1,24)],
		            label:"HISTORICAL EVENT",
		            text:{

		                body:"Historical event happened during the career of the player"
		            }
		        },
		        {
		            type:"national",
		            timestamps:[1983,1986],
		            team:"Mexico",
		            label:"NATIONAL TEAM",
		            apps:41,
		            goals:0
		        },
		        {
		            type:"trainer",
		            category:"range",
		            timestamps:[1991,1994],
		            team:"TRAINER",
		            text:{

		                body:"Time spend as a trainer of a football club"
		            }
		        },
		        {
		            type:"birth",
		            category:"event",
		            label: "DEATH",
		            timestamps:[new Date(1996,1-1,1)],
		            text:{
		                body:"Player's death",
		                link:null
		            }
		        }
		    ]
    })

</script>
