.essay {
  font-size: 16px;
  line-height: 22px;

  a.lang-link {
    display: block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  }

  .dataviz-container {
    margin-top: 50px;
  }
  .fixed-header {
    position: relative;
    width: 100%;
    height: calc(100vh - 62px);
    background: #fff url(assets/pics/transfers/header_mobile.jpg) no-repeat center bottom;
    background-size: 100%;
    background-position: center 100%;
    @media (min-width: $screen-xs-min) {
      height: 100vh;
      background-image: url(assets/pics/transfers/header.jpg);
    }

    // height: calc(100vh - 50px);
    .header {
      height: 100%;
      margin-bottom: 0;
    }
  }
  .overlapping-content {
    position: relative;
    // margin-top: 100vh;
    // background-color: #fff;
    // border-top: 1px solid #ddd;
    // margin-bottom: -30px;
    padding-top: 10px;
    @media (min-width: $screen-xs-min) {
      padding-top: 0;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    position: relative;
    height: 100vh;
    margin-bottom: 10vh;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    @media (min-width: $screen-xs-min) {
      text-align: center;
    }
    hr {
      border-bottom: 3px solid #333;
      margin: 20px 0;
      width: 40%;

      @media (min-width: $screen-xs-min) {
        margin: 20px auto;
        width: unset;
      }
    }
    h4.navbrand {
      text-align: center;
      font-size: 22px;
      // margin: 10px;

      @media (min-width: $screen-xs-min) {
        font-size: 30px;
      }
    }
    section {
      position: relative;
      top: 40%;
      transform: translateY(-50%);
      @media (min-width: $screen-xs-min) {
        top: 50%;
        max-width: 55%;
        margin: 0 auto;
      }
    }

    h1 {
      // font-size: 4rem;
      // line-height: 4.3rem;
      text-align: left;
      margin-bottom: 2rem;
      @media (min-width: $screen-xs-min) {
        width: auto;
        font-size: 5rem;
        line-height: 5.5rem;
        margin-bottom: 1rem;
        text-align: center;

        br {
          display: none;
        }
      }
    }

    h5 {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      white-space: nowrap;
      text-align: left;
      color: #000;
      margin-bottom: 4rem;
      @media (min-width: $screen-xs-min) {
        text-align: center;
      }
    }

    p {
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      br {
        display: none;
      }

      @media (min-width: $screen-xs-min) {
        font-size: 1.8rem;
        line-height: 2.6rem;
        text-align: center;
        br {
          display: block;
        }
      }
    }

    .social {
      border-top: none;
      display: inline-block;
      margin: 0;
      padding: 1em 0;
      @media (min-width: $screen-xs-min) {
        margin: 0 auto;
      }
    }
  }
  .note {
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    @media (min-width: $screen-xs-min) {
      text-align: center;
    }
  }
  .players-careers {
    position: relative;
  }

  section {
    margin-bottom: 10rem;
    h1,
    h2 {
      // font-size: 3rem;
      // line-height: 3.5rem;

      @media (min-width: $screen-xs-min) {
        // font-size: 3rem;
        // line-height: 3.5rem;
        margin-bottom: 1rem;
      }
    }

    p {
    }
  }
}
