/*
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	.top2 .post-abstract .post-abstract-img {
		max-height: 220px;
	}
	div.navbar-collapse ul {
		width: 100%;
	}
}
*/
@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
	.top6 .row .post-abstract {
		min-height: 390px;
	}
	.category .top6 .row .post-abstract {
		min-height: 380px;
	}
	.top6.stickers .row .post-abstract {
		min-height: 0;
	}

	.post-abstract .post-abstract-body {
		min-height: 210px;
	}
	.top1 .post-abstract .post-abstract-body {
		min-height: 0;
	}
	.category .main .post-abstract .post-abstract-body {
		min-height: 0;
	}
	.top6.dataviz .row .post-abstract {
		min-height: 0;
	}



	.jumbotron .main-abstract {
		bottom: 1rem;
		right: 0;
		margin-right: 1rem;
	}

}

@media (min-width: $screen-sm-min) {
	div.navbar {
		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.navbar-nav li {
		line-height: 1rem;
	}

	div.navbar-header {
		float: none;
		display: block;
		width:400px;
		margin:0 auto !important;
		text-align: center;
	}
	.smaller div.navbar-header {
		float:left;
		text-align: left;
		width:auto;
	}
	.navbar-brand {
		float:none;
		text-align: center;
		margin:0 auto !important;
		display: inline-block;
		overflow: hidden;
		height: auto;
		padding:0;
		font-size:1em;
	}
	.navbar-brand h4 {
		font-size:3.5em;

		-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	div.navbar-collapse {

		margin:0 auto;
	}
	.smaller .navbar-collapse {
		padding-left:0;
		padding-right:0;
	}
	div.navbar-collapse ul {
		margin: 0 auto;
		float: none;
		width: 90%;
		border-top:1px solid #333;
	}
	.smaller div.navbar-collapse ul {
		width:auto;
		border-top:none;
		float:right;
	}
	.navbar-collapse li {
		display:table-cell;
		width: 33%;
		border-bottom:none;
	}
	.smaller .navbar-collapse li {
		display:table-cell;
		width: 27%;
		margin-left: 3%;
		margin-right: 3%;
	}
	.navbar-collapse li.home-link,
	.home .smaller .navbar-collapse li.home-link {
		display: none;
	}
	.smaller .navbar-collapse li.home-link {
		display: table-cell;
	}
	.smaller .navbar-collapse li {
		width:auto;
		line-height: 35px;
		margin-top: 15px;
		margin-left:0;
		margin-right:0;
	}
	.navbar {
		position:fixed;
		top:0;
		padding-bottom: 1rem;
	}
	.smaller.navbar {
		padding-bottom: 0;
	}
	#header.not-fixed {
		position: absolute !important;
	}



	.navbar-nav li a {
		line-height: inherit;
		display: block;
		text-align: center;
		font-family: 'Playfair Display', Georgia, serif;
		font-size: 1.5rem;
		font-weight: 700;
		text-decoration: none;
		border-bottom:2px solid #fff;
	}
	.smaller .navbar-nav li {
		padding-left:1rem;
		padding-right:1rem;
		border-right:1px solid #ddd;
	}

	.smaller .navbar-nav li a {
		padding-top:0;
		padding-bottom:0;
		padding-right:0;
		padding-left:0;

	}
	.smaller .navbar-nav li:first-child {
		padding-left:0;

	}
	.smaller .navbar-nav li.last {
		padding-right: 0;
		border-right:none;
	}
	.navbar-nav li a:hover {
		border-bottom:2px solid #333;
		background-color: #fff !important;
	}

	.jumbotron {
		/*position: fixed !important;*/
		padding: 30px;
		height:360px !important;
		margin-top:130px;
		background-size: 100% 100%;

		.main-bg {
			background-size: auto 100%;
			background-position: center center;
		}
	}
	.jumbotron .main-abstract {
		bottom: 2rem;
		right:0;
		margin-right:7rem;
	}
	.jumbotron .main-abstract.left {
		left:1rem;
		right:auto;
	}
	.jumbotron .main-abstract.left5 {
		left:5rem;
		right:auto;
	}
	.jumbotron .main-abstract.transparent {
		background:transparent;
	}
	.jumbotron .main-abstract.white-text {
		color:white;
	}
	.jumbotron .main-abstract.white-text a{
		color:inherit;
	}
	.jumbotron .main-abstract.white-text a:hover {
		color:inherit;
	}
	.category .content-wrapper {
		/*position: absolute;*/
		margin-top: 130px;
		/*border-top:1px solid #ddd;*/

		&.no-margin {
			margin-top: 0;
		}
	}

	.content-wrapper {
		margin-top:0;
	}
	.main h1 {
		font-size:3rem;
		margin-bottom:10px;
		//font-size:44px;
	}
	.row .post-section {
		padding:1rem;
		color: inherit;
	}

	.row .post-section h3 {
		font-size:1.2em;
		border-bottom:none;
		margin-bottom: 1rem;
	}

	.title {
		p {
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
	}

	.top2 .post-abstract .post-abstract-body {
		min-height: 200px;
	}


	.top6 h2 {
		display: inline-block;
		font-size: 1.3em;
		margin-bottom: 0;
		min-height: 2.6em;
	}
	.top6 p.descr {
		display: inline-block;
		min-height: (1.4*6)+em;
		font-size: 1.7rem;
		line-height: 1.9rem;
	}

	.miserie .border-bottom .post-abstract {
		min-height: 460px;
	}

	/*.miserie.row .post-abstract p {
		display:inline;
		max-height:auto;
		margin-bottom:10px;
	}*/
	.top2 {
		margin:4rem 0 2rem;
	}
	.top2 .post-abstract h2 {
		font-size:1.6em;
		/*min-height: 2em;*/
	}
	.post-section {
		p {
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
	}
	.category .post-section {
		background-color:inherit;
		padding:15px;
	}
	.category .post-section h3 {
		color: $black;
		padding-top: 0.4rem;

	}
	.category .post-section p {
		color: $black;
	}
	.category .top6 {
		margin-right: 0;
		margin-left:0;
	}
	.category .top6 .post-abstract {
		/*min-height: 450px;*/
	}
	.miserie .post-abstract-img {
		overflow: hidden;
		/*height: 220px;*/
		position: relative;
		background-repeat: no-repeat;
		background-position:  center center;
		background-size: 100% 100%;
	}
	.miserie .post-abstract-img img {
		opacity: 1;
	}

	.small-posts li {
		float: left;
		width: 32.5%;
		padding:0;
		padding:0 1rem;
		margin-bottom:1rem;
	}
	.small-posts li a {
		display:block;
		min-height: 10rem;
		padding:1rem;
		border-bottom:1px solid #ddd;
	}
	.small-posts li:last-child a {
		border-bottom:1px solid #ddd;
	}

	.stickers .sticker h3 {
		font-size: 1em;
		display: inline-block;
		min-height: 5rem;
	}

	.post-banner-img {
		min-height: 300px;
	}
	.post-banner-img img {
		width: auto;
	}

	/********************* POST *******************/

	.post h1 {
		font-size:3.2em;
	}

	.post .social {
		margin:1rem 0;
		font-size: 1.8em;
	}
	.post .social ul li {
		float:none;
		margin:0;
		width:auto;
		line-height: 2rem;
		border:none;
		border-radius: 0;
		background-color: inherit;
	}

	.post .social ul li span {
		display:inline;
	}

	.post .post-title h1 {
		margin-bottom:2rem;
	}
	.post .post-info {
		border-top:none;
		border-bottom:1px solid #ddd;
	}

	.post .post-body {
		border-right:1px solid #ddd;
		padding-right:2rem;
	}
	.post .post-body p {
		font-size:22px;
		line-height: 32px;
		margin-top: 0;
	}

	.post .sticker {
		padding: 5px;
		border-bottom: none;

		h4 {
			color:#333;
			margin-top: 1em;
			margin-bottom: 0.5em;
			font-size: 2rem;
		}

	}

	html:not(.page) .post .post-body p:first-child:first-letter {
		font-size: 500%;
		float: left;
		margin: 10px 5px 0 0;
		line-height: 1;
		font-weight: bold;
		text-shadow: 2px 2px 0 #566074;
	}

	.post-simple {
		margin-top:150px;
	}
	.post-simple .post-body {
		border-right:none;
	}
	.post .post-body img.margin-1em {
		margin:1em;
	}
	.post .post-body img.margin-1em[align=right] {
		margin:0.5em 0 0.5em 0.5em;
	}
	.post .post-body img.margin-1em[align=left] {
		margin:0.5em 0.5em 0.5em 0;
	}
	.post .post-body img.w100 {
		width: 100%;
	}
	.post .post-body img.w75 {
		width: 75%;
	}
	.post .post-body img.w60 {
		width: 60%;
	}
	.post .post-body img.w50 {
		width: 50%;
	}
	.post .post-body img.w40 {
		width: 50%;
	}
	.post .post-body img.w30 {
		width: 30%;
	}
	.post .post-body img.w25 {
		width: 25%;
	}

	.post {
		.timeline {
			padding-bottom: 0;
			&.timeline-hidden {
				visibility: visible;
				height: auto;
			}

			.timeline-tooltip {
				position: absolute;
				width:260px;
				left:0;
				transform: translateX(-100%);
				right: auto;
			}

			svg {
				* {
					pointer-events: auto;
				}
			}
		}
		.post-disclaimer {
			padding: 0;
		}


	}

	.footer .row > div {
		border-left: 1px solid #444;
	}

	/********************* PAGE *******************/

	.page.post .post-body {
		border-right:none;
	}

	.page .content-wrapper {
		/*position: absolute;*/
		/*margin-top: 130px;*/
		/*border-top:1px solid #ddd;*/
		min-height: 600px;
	}



	.post h4 {
		margin: 1em 0;
	}

}
/*
@media only screen and (min-width: $screen-sm-min) and (max-width : 992px) {
	.post-abstract-img {

	}
	.post-abstract-body p {
		display: block;
		overflow: hidden;
		margin-bottom: 1em;
	}
}

@media only screen and (min-device-width : $screen-sm-min) and (max-device-width : 1024px) and (orientation : portrait) {
	.top2 .post-abstract h2 {
		font-size:1em !important;
	}
}
*/
@media (min-width: $screen-sm-min) {
	.miserie .post-abstract {
		min-height: 440px;
	}
	.category .post-abstract {
		min-height: 450px;
	}
	.category.figurine .post-abstract {
		min-height: 380px;
	}
	.category .top1 .post-abstract {
		min-height: 0;
	}
}

@media only screen and (min-width: $screen-lg-min) {
	div.navbar-collapse ul {
		width: 85%;
	}
}

/*@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {


	.category .post-section {
		padding:0;
		margin-bottom: 20px;
	}
	.category .post-section .title {
		background-color:$darkGray;
		padding:15px 30px;
	}
	.category .post-section h3 {
		color: $white;
		border-bottom:none;
		font-size:2em;
	}
	.category .post-section p {
		color: $white;
		font-size:1.5em;
		margin:0;
	}
	.category .post-section .social {
		padding: 15px 0px 15px 30px;;
		position: absolute;
	}
	.category .post-section .social ul {
		float:right;
	}

	.category .top6 .post-abstract {
		min-height: 400px;
	}

}
*/
@media (min-width: $screen-sm-min) {

	.category .social {
		margin:1rem 0;
		font-size: 1.8em;
	}

	.category .social ul li {
		float:none;
		margin:0;
		width:auto;
		line-height: 2rem;
		border:none;
		border-radius: 0;
		background-color: inherit;
	}

	.category .social ul li span {
		display:inline;
	}
}
