html { font-size: 62.5%; } 
body {
	font-family: 'Fanwood Text', Georgia, serif;
	font-weight: normal;
	color:#333;
	font-size:1.4em;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', Georgia, serif;
	font-weight: 700;
	color:#000;
	margin:0;
	padding:0;
}
nav ul,
nav ol {
	list-style: none outside none;
}
a {
	color:inherit;
	text-decoration: underline;
}
a:hover {
	color:#336699;
}
.u-faux-block-link__overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    background: none repeat scroll 0% 0% transparent;
}
/********************* HELPER *******************/
.bg-white50 {
	background-color: rgba(255,255,255,0.5);
}
.bg-black50 {
	background-color: rgba(0,0,0,0.5);
}
.bg-light-gray {
	background-color:#eee;
}
.bg-dark-gray {
	background-color: #333;
}
.w30 {
	width:30% !important;
}
.w70 {
	width:70% !important;
}
/********************* FLEXBOX *******************/
.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
	flex-flow:row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
.flex-one-third {
	flex-basis: 33.3%;
}
.flex-two-third {
	flex-basis: 66.6667%;
}
/********************* HEADER *******************/
#header.not-fixed {
	position: static !important;
}
div.navbar {
	background-color:#fff;
	border-bottom:1px solid #ddd;
	/*height:11rem;*/
	padding-top:1rem;
	padding-bottom:1rem;
}
div.navbar-header {
	float:none;
	width:100%;
	overflow: hidden;
}
.navbar-brand {
	float:none;
	margin:0 !important;
}
.logo {
	width: 400px;
}
.logo a {
	font-size: 4rem;
	font-family: 'Playfair Display', Georgia, serif;
	font-weight: 900;
	letter-spacing: 0.25rem;
	text-decoration: none;
	display: block;
	line-height: 4rem;
	padding-top:0;
	padding-bottom:0;
	margin:0;
	margin-top:1rem;
	height:4rem;
}
.logo a span {
	color:#666;
}
.logo a:hover span {
	color:inherit;
}
.logo b {
	font-size: 0.9em;
	margin: 0;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
}

.navbar-nav {
	height: 4rem;
	line-height: 4rem;
	width:50%;
	float:none;
}
.navbar-nav li {
	height: 7rem;
	line-height: 7rem;	
}

.navbar-nav > div {
	display: inline-block;
	width: 32.5%;
	line-height: inherit;
}
.navbar-nav > div > a {
	line-height: inherit;
	display: block;
	text-align: center;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
}
#mainMenu {
	border-top:1px solid #000;
	margin-top:1rem;
}
#mainMenu a:hover {
	background:#ddd;
}
/********************* HOMEPAGE *******************/
.jumbotron {
	z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
    background-color: #E5E1B7;
    background: url(../img/pics/cuellar.png) no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.main-abstract {
	background-color:rgba(255,255,255,0.6);
	margin-right:5rem;
	max-width: 30%;
}
.content-wrapper {
	position: absolute;
	top: 87%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: none repeat scroll 0% 0% #FFF;
	border-top:1px solid #ddd;
}

.main h1 {
	font-size:2.4rem;
}
.main p.abstract {
	font-size:1.6rem;
}
.main .post {
	position: absolute;
	bottom: 5rem;
}

.row > div {
	padding:1rem;
}
.row .post-abstract {
	margin:0;
	padding:1rem;
}
.row .post-section {
	margin:0;
	padding:1rem;	
}
.row .post-section h3 {
	padding-top: 0.4rem;
	font-size: 1.3em;
}
.post-abstract h2 {
	color:#333;
}
.post-abstract .bg-dark-gray h2 {
	color:#fff;
}
.post-abstract .bg-dark-gray p {
	color:#eee;
}
.post-abstract .post-abstract-body {
	padding:1rem;
	padding-bottom:0;
}
.top2 h2 {
	font-size:1.6em;
}
.top6 h2 {
	font-size:1.3em;
    padding-top: 0.4rem;
}
.top2 {
	border-bottom:0.1rem solid #DFDFDF;
}

.top2 > .border-right:first-child .post-abstract {
	border-right:0.1rem solid #DFDFDF;
}

.top6 .border-right .post-abstract {
	border-right:0.1rem solid #DFDFDF;
}
.top6 > .border-right:last-child .post-abstract {
	border-right:none;
}

/********************* FOOTER *******************/
.footer {
	min-height: 10rem;
	background-color:#333;
	color:#ddd;
}