<!DOCTYPE html>
<html lang="en" class="page category">

{% include head.html %}
    
<body>
{% include header.html %}

<div class="content-wrapper category {{page.category}}">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="post-section col-xs-12 col-md-offset-1 col-md-2">
                    <div class="row post-info">
                        <div class="title col-xs-12">
                            <h3>{{page.title}}</h3>
                            <p><em>{{page.description}}</em></p>
                            
                        </div>
                        <div class="col-xs-12 social">
                            {% include social.html %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    {{ content }}
                </div>    
            </div>
        </div>
    </section>
</div>
{% include footer.html %}

{% include default_js.html %}

{% if page.timeline %}
{% include timeline_js.html %}
{% endif %}



</body>
</html>