<!DOCTYPE html>
<html lang="en" class="{{page.category}}">

	{% include head.html %}

	<body>
{% include header.html %}

{% if page.life != null %}
	{% capture sticker %}{{site.baseurl}}/assets/pics/stickers/{{page.pid}}.jpg{% endcapture %}
	{% if page.remote_sticker %}
		{% capture sticker %}{{page.remote_sticker}}{% endcapture %}
	{% endif %}
{% endif %}
<div class="content-wrapper post post-simple essay">
	<section>
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 essay-title text-center">
              <h1>
								{%if page.postTitle and page.postTitle != "" and page.postTitle != nil %}
									{{page.postTitle}}
								{% else %}
									{{page.player}}
								{% endif %}
							</h1>
							<h5>di {{page.author}}</h5>
							<h5><a href="{{site.baseurl}}/{% if page.category == 'miserie' %}miserie-e-splendori{%endif%}{% if page.category == 'figurine' %}figurine-parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}non-tutti-sanno-che{%endif%}">{% if page.category == 'miserie' %}Miserie e Splendori{%endif%}{% if page.category == 'figurine' %}Figurine Parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}Non tutti sanno che{%endif%}</a></h5>
							<h5>
							{% assign m = page.date | date: "%-m" | minus: 1 %}
							{{ site.data.it.months[m] }}
							{{ page.date | date: "%Y" }}
							</h5>
							<div class="col-xs-12 social">
								{% include social.html %}
							</div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="post-body">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% include footer.html %}
{% include progressbar.html %}
{% include default_js.html %}
</body>
</html>
