<!DOCTYPE html>
<html lang="en" class="page {{page.category}}">

	{% include head.html %}

	<body>
{% include header.html %}

<div class="content-wrapper post post-simple">
	<section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 post-title">
                    <h1>
											{%if page.postTitle and page.postTitle != "" and page.postTitle != nil %}
												{{page.postTitle}}
											{% else %}
												{{page.player}}
											{% endif %}
										</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="row post-info">
                        <div class="col-xs-12">
                            <h5><a href="{{site.baseurl}}/{% if page.category == 'miserie' %}miserie-e-splendori{%endif%}{% if page.category == 'figurine' %}figurine-parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}non-tutti-sanno-che{%endif%}">{% if page.category == 'miserie' %}Miserie e Splendori{%endif%}{% if page.category == 'figurine' %}Figurine Parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}Non tutti sanno che{%endif%}</a></h5>
                            <h5>{{ page.date | date: "%B %Y" }}</h5>
                        </div>
                        <div class="col-xs-12 social">
                                <ul class="list-unstyled">
                                    <li><a class="twitter_link" href="#" target="_blank" title="Share on Twitter"><i class="icon-twitter"></i> <span class="hidden-xs">Twitter</span></a></li>
                                    <li><a href="#" target="_blank" title="Share on Google+"><i class="icon-gplus" title="Share on Google+"></i> <span class="hidden-xs">Google+</span></a></li>
                                    <li><a href="#" target="_blank" title="Share on Facebook"><i class="icon-facebook" title="Share on Facebook"></i> <span class="hidden-xs">Facebook</span></a></li>
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <div class="post-body">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% include footer.html %}

{% include default_js.html %}

{% if page.timeline %}
{% include timeline_js.html %}
{% endif %}



</body>
</html>
