<!DOCTYPE html>
<html lang="en" class="{{page.category}}">

	{% include head.html %}
	
	<body>
{% include header.html %}
{% include jumbotron_min.html %}

<div class="content-wrapper post">
	<section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 post-title">
                    <h1>{{page.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="row post-info">
                        <div class="col-xs-12">
                            <h5>di {{page.author}}</h5>
                            <h5><a href="{{site.baseurl}}/{% if page.category == 'miserie' %}miserie-e-splendori{%endif%}{% if page.category == 'figurine' %}figurine-parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}non-tutti-sanno-che{%endif%}">{% if page.category == 'miserie' %}Miserie e Splendori{%endif%}{% if page.category == 'figurine' %}Figurine Parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}Non tutti sanno che{%endif%}</a></h5>
                            <h5>{{ page.date | date: "%B %Y" }}</h5>
                        </div>
                        <div class="col-xs-12 social">
                            {% include social.html %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 {% if page.life != null %}col-sm-7{%else%}col-sm-8{% endif %}">
                    <div class="post-body">
						{{ content }}
					</div>
					{% if page.life != null %}
						<div class="post-disclaimer">Le parole liberamente attribuite a <b>{{page.player}}</b> sono state ricostruite attraverso libri, interviste e altre fonti storiche, sono ispirate a fatti realmente accaduti e in seguito romanzate.</div>
					{% endif %}
				</div>
				{% if page.life != null %}
				<div class="col-sm-3 col-md-2 hidden-xs no-padding">
	                <div class="timeline">
	                    <div class="sticker">
	                        <img class="responsive-img" src="{{site.baseurl}}/assets/pics/stickers/{{page.pid}}.jpg" alt="{{page.player}}" width="100%">
	                    </div>
	                    <h4>{{page.player}}</h4>
	                    <p>{{page.life}}</p>
	                    <div id="timeline" class="timeline-viz"></div>
	                    <p class="post-disclaimer">Tutte le informazioni mostrate in questa linea temporale sono state raccolte da <a href="http://en.wikipedia.org/wiki/{{page.wikipedia}}" target="_blank">Wikipedia</a></p>
	                </div>
	            </div>
	            {% endif %}
			</div>
		</div>
	</section>
</div>
{% include footer.html %}

{% include default_js.html %}

{% if page.timeline %}
{% include timeline_js.html %}
{% endif %}



</body>
</html>
