<!DOCTYPE html>
<html lang="en" class="page {{page.category}}">

	{% include head.html %}

	<body>
{% include header.html %}
{% if page.header != null %}
{% include jumbotron_min.html %}
{% endif %}

<div class="content-wrapper post {% if page.header == null %}post-simple{% endif %}">
	<section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-2 post-title">
                    <h1>
											{%if page.postTitle and page.postTitle != "" and page.postTitle != nil %}
												{{page.postTitle}}
											{% else %}
												{{page.player}}
											{% endif %}
										</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="row post-info">
												<div class="col-xs-12">
														<h5><a href="{{site.baseurl}}/{% if page.category == 'miserie' %}miserie-e-splendori{%endif%}{% if page.category == 'figurine' %}figurine-parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}non-tutti-sanno-che{%endif%}">{% if page.category == 'miserie' %}Miserie e Splendori{%endif%}{% if page.category == 'figurine' %}Figurine Parlanti{%endif%}{% if page.category == 'non-tutti-sanno-che' %}Non tutti sanno che{%endif%}</a></h5>
												</div>
                        <div class="col-xs-12 social">
                          {% include social.html %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10 no-border">
                    <div class="post-body no-border">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="small-posts border-top">
	    <div class="container bg-white50">
	        <div class="top6 row">
	            <div class="col-md-2">
	                <div class="post-section">
	                    <h3><a href="{{site.baseurl}}/non-tutti-sanno-che">Non tutti sanno che</a></h3>
	                    <p class="hidden-xs"><em>Fatti, curiosit&agrave; e racconti brevi dal mondo del calcio</em></p>
	                </div>
	            </div>
	            <div class="col-md-9">
	                <div class="post-abstract">
	                    <ul class="list-unstyled flex-container">
	                        {% for post in site.categories.non-tutti-sanno-che %}
	                        <li>
	                            <a href="{{site.baseurl}}{{ post.url }}" class="post-link" title="{{post.title}}">
	                                <h4>{{post.postTitle}}</h4>
	                                <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
	                            </a>
	                        </li>
	                        {% endfor %}
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</div>
{% include footer.html %}

{% include default_js.html %}

{% if page.timeline %}
{% include timeline_js.html %}
{% endif %}



</body>
</html>
